:root {
  --header-bgd-color: #ffffff;
  --footer-bgd-color: #2f303a;
  --title-color: #212121;
  --text-color: #757575;
  --link-selection-solor: #2196f3;

  --animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
