.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgd-color);
}
.footer-bar {
  display: flex;
  align-items: baseline;
}
.footer-info {
  min-width: 231px;
}
.footer-info__address {
  margin-top: 20px;
  font-style: normal;
}
.footer-info__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}
.logo__accent--light {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-bgd-color);
}
.footer-info__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-bgd-color);
}
.footer-info__contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
